



<h1><center> Actor Details </center></h1>

<div><center>   <%= @actor.name %>  </center></div>
<div><center>   <%= @actor.bio %>   </center></div>
<div><center>   <%= @actor.dob %>   </center></div>


<center><img src="<%= @actor.image_url %>" width="720"></center>




