<h1>Add A New Movie</h1>

<form action="http://localhost:3000/movie/create_movie">
  <div>
    <label for="movie_year">Year:</label>
    <input id="movie_year" type="text" name="the_movie_year">
  </div>
  <div>
    <label for="movie_duration">Duration:</label>
    <input id="movie_duration" type="text" name="the_movie_duration">
  </div>
    <div>
    <label for="movie_description">Description:</label>
    <input id="movie_description" type="text" name="the_movie_description">
  </div>
    <div>
    <label for="movie_image_url">Image_URL:</label>
    <input id="movie_image_url" type="text" name="the_movie_image_url">
  </div>
     <div>
    <label for="movie_title">Image_URL:</label>
    <input id="movie_title" type="text" name="the_movie_title">
  </div>
  <div>
    <button>Create Movie</button>
  </div>
</form>




