

<h1>Edit Director <%= @director.id %> </h1>

<form action="http://localhost:3000/update_director/<%= @director.id %>">

  <div>
    <label for="director_name">Name:</label>
    <input id="director_name" type="text" name="the_director_name">
  </div>
  <div>
    <label for="director_bio">Bio:</label>
    <input id="director_bio" type="text" name="the_director_bio">
  </div>
    <div>
    <label for="director_dob">DOB:</label>
    <input id="director_dob" type="text" name="the_director_dob">
  </div>
    <div>
    <label for="director_image_url">Image_URL:</label>
    <input id="director_image_url" type="text" name="the_director_image_url">
  </div>

  <div>
    <button>Create Director</button>
  </div>
</form>
