



<h1><center> Director Details </center></h1>

<div><center>   <%= @director.name %>   </center></div>
<div><center>   <%= @director.bio %>   </center></div>
<div><center>   <%= @director.dob %>   </center></div>


<center><img src="<%= @director.image_url %>" width="720"></center>




